/* menu */
#menu-desktop ul li a:hover {
    color: #ffffff;
    background-color: #9F2925;
}
#menu-desktop ul li.dropdown{
    background-color: #fff;
    border: #ddd 1px solid;
    border-collapse: collapse;
    margin: 0px;
    margin-top: -1px;
}
#menu-desktop > ul > li:first-child, #menu-desktop > ul > li:first-child > a {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#menu-desktop > ul > li:last-child, #menu-desktop > ul > li:last-child > a {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
#menu-desktop > ul > li > ul a {
    padding-left: 15px !important;
}
#menu-desktop .dropdown > .dropdown-menu {
    left: 100%;
    margin-left: -1px;
    margin-top: -42px;
    border-radius: 6px 0px 6px 6px;
}

#menu-desktop2 .dropdown {
    float:right;
}

/* panels */

.panel-heading {
    height: 41px;
    padding: 10px;
}

.panel-heading h2 {
    font-size: 16px;
    line-height: 16px;
    float:left;
    margin-top: 2px;
    color: #646464;
    font-weight: normal;
    text-shadow: 0px 1px 0px #fff;
}
.panel-heading h2 i{
    margin: 1px 3px 0px 5px;
    opacity: .4;
}
.panel-heading .break{
    border-left: 1px solid #fcfcfc;
    border-right: 1px solid #ddd;
    margin: -12px 10px -10px 6px;
    padding: 12px 0px 10px 0px;
}

.panel-heading .box-icon {
    float:right;
    margin-top: 1px;
}

.panel-heading .box-icon i {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: .4;
}

.panel-heading .box-icon i:hover {
    opacity: .8;
}

.panel-heading .box-icon a {
    margin: 0px 5px;
}

.panel-heading .dropdown {
    display: inline;
}

.badge {
    background-color: #d9534f;
}

.panel-body{
    overflow-y: visible; /* não pode setar o X coomo auto senão os autocompletes ficam escondidos */
    border-bottom: 1px solid #ccc;
}

/* coloca os icones de dentro de um link com a cor preta */
.panel-heading  i {
    color: #000 !important;
}
a.btn-primary > i, a.btn-success > i, a.btn-danger > i, a.btn-warning > i, a.btn-info > i  {
    color: #fff !important;
}
i.icon-white {
    color: #fff !important;
}
i.icon-red {
    color: #9F2925 !important;
}

/*span.label i {
    color: #fff !important;
}*/

input.obrigatorio-alert,
.obrigatorio-alert {
    border-color: rgba(236, 100, 82, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236,100,82,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236,100,82,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236,100,82,.6);
}

/* botoes ter espaço */
.btn-submit {
    margin-top: 15px !important;
}

.pagination li a {
    /* deixa o padding da paginaca menor para caber mais */
    padding: 5px 9px !important;
}

label {
    margin-top: 5px;
    display: block;
}

.box-home > .panel-body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.box-home-scroll > .panel-body{
    overflow-y: scroll;
    overflow-x: hidden;
}
.box-home-scroll .panel-group {
    margin-bottom: 5px;
}

/* accordion */
.box-home-scroll .panel-group .panel-heading, .box-home-scroll .panel-group .panel-body {
    height: auto;
    padding: 3px;
    overflow: visible;
}

.panel-white .panel-heading {
    background-color: #f0f0f0 !important;
}

div.col-center, th.col-center, td.col-center {
    text-align: center;
}
td.col-right, th.col-right, div.col-right {
    text-align: right;
}
div.col-left {
    text-align: left;
}

.form-control {
    margin-bottom: 8px;
}
table .form-control {
    margin-bottom: 0px;
}

.tab-pane {
    margin-top: 10px;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

.fileinput .form-control {
    overflow: hidden;
}

th.textoVertical > div
{    
    margin-top: -110px;
    margin-left: -95px;    
    position: absolute;
    height: 10px;
    width: 200px;    
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Safari/Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
}

th.textoVertical
{     
    height: 210px;
    width: 80px;    
    position: relative;        
    line-height: 14px;
    padding-bottom: 120px;
}

td.vm-danger {
    background-color: #FF4D4D;
}

td.vm-danger:hover {
    background-color: #ff0000;
}

td.vm-success {
    background-color: #85E085;
}

td.vm-success:hover {
    background-color: #33CC33;
}

td.vm-warning {
    background-color: #FFDB4D;
}

td.vm-warning:hover {
    background-color: #FFCC00;
}
td.vm-info {
    background-color: #97D7EA;
}

td.vm-info:hover {
    background-color: #3399FF;
}

tr.apagado td {
    color: #AAAAAA;
}

td.negativo, th.negativo {
    color:#CC0000;
}

.popoverTable{
    overflow-x:visible;
}

@media screen and (max-width: 900px){
    body{
        /*min-width: 400px;*/
    }
    .popoverTable{
        overflow-y: scroll;
    }

}

.alert-condensed{    
    margin-bottom: 0px !important;
    padding:5px !important;    
}
.alert-condensed > h4{
    margin: 0px !important;
}

.desativada60 {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.select2-selection{
    min-height: 34px !important;
    height: auto !important;
}

input.readonly-clickable {
    cursor: pointer !important;
}

input:disabled {
    cursor: not-allowed !important;
}
option:disabled {
    display: none;
}
.caixaAlta{
    text-transform: uppercase;
}

.cursorPointer{
    cursor: pointer
}

#menu-macrofluxo{
    width: 50px;
    position: fixed;
    top: 140px;
    right: 0px;
    text-align: right;
}
div.fileinput {
    z-index: 0;
}

.border-right {
    border-right-color: #080808 !important; 
    border-right-width: 2px !important;
}

.table-freeze tbody{
    overflow-y: auto;
    height: 350px;
    width: 102%;
}
.table-freeze thead, .table-freeze tbody{
    display: block;
}
td.cell-100, th.cell-100 {        
    max-width: 100px;
    min-width: 100px;
    overflow-x: hidden;
}
td.cell-120, th.cell-120 {        
    max-width: 120px;
    min-width: 120px;
    overflow-x: hidden;
}
td.cell-150, th.cell-150 {        
    max-width: 150px;
    min-width: 150px;
    overflow-x: hidden;
}
td.cell-180, th.cell-180 {        
    max-width: 180px;
    min-width: 180px;
    overflow-x: hidden;
}
td.cell-200, th.cell-200 {        
    max-width: 200px;
    min-width: 200px;
    overflow-x: hidden;
}
.btn-blank{
    background-color: #777;
}

.select2-selection--single {
    height: 100% !important;
}
.select2-selection__rendered{
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.assist-box-number-2 {
    text-align: center;
    font-size: 34px;
}
.assist-box-number-4 {
    text-align: center;
    font-size: 25px;
}
.assist-box-number-5 {
    text-align: center;
    font-size: 18px;
}


.colab-falta{
    padding: 2px;
}
td.cell-10, th.cell-10 {        
    max-width: 30px;
    min-width: 30px;
    overflow-x: hidden;
}
.nome {
    font-size: 80%;
}

#tabela-crono {
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    height: 300px;   
}

/*.table-margin-0{
    margin: 0px;*/
/*}
table.table-supercondensed td,table.table-supercondensed th{
    padding: 2px !important;
}
.table-scroll{
    overflow-y: scroll;
}*/


#tabela-crono {
    overflow-y: scroll;
    /*height: 200px;*/
}

.etapa-prevista {
    background-color: #4D4D4D;
}

.etapa-realizada {
    background-color: #66FF33;
}

.etapa-realizada-finalizada {
    background-color: #A3C2FF;
}

.etapa-realizada-atrasada {
    background-color: #FF0033;
}

.etapa-realizada-finalizada-atrasada {
    background-color: #C2A3FF;
}
.dia-crono{
    color: #C0C0C0;    
}
.square {
    width: 40px;
    min-width: 30px;
    height: 25px;
}

.data-etapa {
    width: 20px;
    text-align: center;
    padding: 0px;
}

.titulo {
    vertical-align: middle;
    text-align: center;
}

.colab-falta{
    padding: 2px;
}

input.data, input.datafp{
    background-color: #fff !important;
    border-color: #ccc !important;
}

.badge-warning{
    background-color: #f0ad4e;
}

.badge-info{
    background-color: #5bc0de;
}

.badge-success{
    background-color: #5cb85c;
}

.texto-vermelho {
    color: #ff0000;
}

.valor {
    text-align: right;
}

/* usado em pendencia e visualização de requisição */
@media screen and (max-width: 991px){
    .responsivo {
        white-space: normal;
        font-size: 70%;
        width: 40px;
        word-break: keep-all;
    }
}