.producoes, .gas, .colaboradores {
    padding: 0px;
    list-style-type: none;
}
.producao, .ga, .colaborador, .maquina {
    border-radius: 5px;
}

.producao {
    display: inline;
    float: left;
    padding: 0px;
    margin: 5px;
    border: 1px solid #cccccc;

}
.gas {
    min-height: 150px;
    height: 100%;
}


.info-producao {
    display: block;
    background-color: #dddddd;
    padding: 4px;
}
.nome-producao {

}
.ga {
    display: inline;
    float: left;
    padding: 0px;
    padding-bottom: 20px;
    margin: 3px;
    border: 1px solid #cccccc;
}

.info-ga {
    display: block;
    background-color: #dddddd;
    padding: 4px;    
}
.ga-t1 .info-ga {
    cursor: move;
}
.ga-t2 .info-ga, .ga-t3 .info-ga, .ga-t4 .info-ga, .ga-t5 .info-ga {
    cursor: not-allowed;
}
.ga-t4 .info-ga {
    height: 50px;
}
.ga-t1 .colaboradores, .ga-t2 .colaboradores, .ga-t3 .colaboradores, .ga-t5 .colaboradores {
    min-height: 140px;
}
.ga-t4 .colaboradores {
    min-height: 80px;
}
.nome-ga {
    font-size: 12px;    
}
.colaboradores {
    padding: 3px;
}
#disponiveis .colaboradores {
    padding: 3px;
    min-height: 30px;
}
.colaborador, .maquina {
    display: block;
    overflow: hidden;
    margin-bottom: 4px;
    padding: 0px 3px;
    height: 24px;
    cursor: move;
}
#disponiveis .panel-heading, #disponiveis .panel-body {
    padding: 5px;
    height: auto;
}
#disponiveis li.colaborador, #disponiveis li.maquina{
    display: inline-block;
    overflow: hidden;
    margin-bottom: 4px;
    padding: 2px 5px;
    margin: 2px;
    height: 24px;
    width: 19%;
    color: #fff;
}

.info-colab {

}
.nome-colab {
    font-size: 11px;
    line-height: 11px;
}

.ul-producao-t1 :nth-child(4n+1) {
    clear: left;
}
.ul-producao-t2 :nth-child(5n+1) {
    clear: left;
}
.ul-producao-t4 :nth-child(4n+1) {
    clear: left;
}



/*  classes dos cargos */


.servente, .servente:active, .servente:hover {
    background-color: #666666 !important;
    color: #fff !important;
}
.servente > a {
    background-color: #666666;
    color: #fff;
}
.serventePoli, .serventePoli:active, .serventePoli:hover {
    background-color: #16803E !important;
    color: #fff !important;
}
.serventePoli > a {
    background-color: #16803E;
    color: #fff;
}
.pedreiro, .pedreiro:active, .pedreiro:hover {
    background-color: #CC0000 !important;
    color: #fff !important;
}
.pedreiro > a {
    background-color: #CC0000;
    color: #fff;
}
.pedreiroLider, .pedreiroLider:active, .pedreiroLider:hover {
    background-color: #003399 !important;
    color: #fff !important;
}
.pedreiroLider > a {
    background-color: #003399;
    color: #fff;
}
.eletricista, .eletricista:active, .eletricista:hover {
    background-color: #FF6600 !important;
    color: #fff !important;
}
.eletricista > a {
    background-color: #FF6600;
    color: #fff;
}
.carroceiro, .carroceiro:active, .carroceiro:hover {
    background-color: #CCCCCC !important;
    color: #000 !important;
}
.carroceiro > a {
    background-color: #CCCCCC;
    color: #000;
}
.indireto, .indireto:active, .indireto:hover {
    background-color: #fff !important;
    border: 1px solid #ccc;
    color: #000 !important;
}
.indireto > a {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
}
.semclasse, .semclasse:active, .semclasse:hover {
    background-color: #7E5B20 !important;
    color: #fff !important;
}
.semclasse > a {
    background-color: #7E5B20;
    color: #fff;
}
.sexto-elemento, .sexto-elemento:active, .sexto-elemento:hover {
    background-color: #FF6600 !important;
    color: #fff !important;
}
.sexto-elemento > a {
    background-color: #FF6600;
    color: #fff;
}
.demitido, .demitido:active, .demitido:hover {
    background-color: #000 !important;
    color: #fff !important;
}
.demitido > a  {
    background-color: #000;
    color: #fff;
}
.novo-admitido, .novo-admitido:active, .novo-admitido:hover {
    background-color: #ff33cc !important;
    color: #000 !important;
}
.novo-admitido > a {
     background-color: #ff33cc;
    color: #000;
}
.novo-transferido, .novo-transferido:active, .novo-transferido:hover  {
    background-color: #660066 !important;
    color: #fff !important;
}
.novo-transferido > a  {
    background-color: #660066;
    color: #fff;
}
.treinamento, .treinamento:active, .treinamento:hover {
    background-color: #ffff33 !important;
    color: #000 !important;
}
.treinamento > a  {
    background-color: #ffff33;
    color: #000;
}
.pedreiro-substituto, .pedreiro-substituto:active, .pedreiro-substituto:hover  {
    background-color: #00bfff !important;
    color: #000 !important;
}
.pedreiro-substituto > a  {
    background-color: #00bfff;
    color: #000;
}
.maquina, .maquina:active, .maquina:hover, .maquina-relatorio {
    background-color: #FFCC00 !important;
    color: #000 !important;
}

.marcador-1, a.marcador-1 {
    background-color: #cccccc !important;
    color: #fff !important;
}
.marcador-2, a.marcador-2 {
    background-color: #00A300;
    color: #fff;
}
.marcador-3, a.marcador-3 {
    background-color: #A32900;
    color: #fff;
}
.marcador-4, a.marcador-4 {
    background-color: #FFFF33;
    color: #fff;
}
.marcador-5, a.marcador-5 {
    background-color: #3059AC;
    color: #fff;
}
.marcador-6, a.marcador-6 {
    background-color: #FF6600;
    color: #fff;
}
.marcador-7, a.marcador-7 {
    background-color: #ff33cc;
    color: #fff;
}
.marcador-8, a.marcador-8 {
    background-color: #660066;
    color: #fff;
}

.marcador-9, a.marcador-9 {
    background-color: #00BFFF;
    color: #fff;
}




.falta {
    /*opacity: 0.5;*/
    color: #eee;
    text-decoration: line-through;
}
.falta-apagado {
    /*opacity: 0.5;*/
    opacity: 0.5;
}

.btn-xxs {
    font-size: 11px;
    margin: 0px;
    padding: 1px 4px;
}

.popover {
    color: #333;
}

#calendario td, #calendario th  {
    padding: 5px 1px;
}

@media (min-width: 1030px) {

    li.li-producao-t1{
        width: 48.5%;
    }
    li.li-producao-t2 {
        width: 65%;
    }
    li.li-producao-t3{
        width: 33%;
    }
    li.li-producao-t4{
        width: 65%;
    }
    li.li-producao-t5{
        width: 33%;
    }
    .ga-t1 {
        width: 23.5%;
    }
    .ga-t2 {
        width: 19.0%;
    }
    .ga-t3 {
        width: 48%;
    }
    .ga-t4 {
        width: 23.7%;
    }
    .ga-t5 {
        width: 48%;
    }
}
@media (max-width: 1030px) {

    li.li-producao-t1{
        width: 48.0%;
    }
    li.li-producao-t2 {
        width: 98.5%;
    }
    li.li-producao-t3{
        width: 98.5%;
    }
    li.li-producao-t4{
        width: 98.5%;
    }
    li.li-producao-t5{
        width: 98.5%;
    }
    .ga-t1 {
        width: 47.5%;
    }
    .ga-t2 {
        width: 32%;
    }
    .ga-t3 {
        width: 32%;
    }
    .ga-t4 {
        width: 32%;
    }
    .ga-t5 {
        width: 32%;
    }
}

.marcador {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: baseline;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 4px 0px 0px 2px;
    border: #FFFFFF 1px solid;
}

/* DEPRECATED */
/* 

.marcador-0 {
    display: none;
}
*/