.nomeStatus, .nomeCheck, .clientes, .statusPai {
    list-style-type: none;
    border-radius: 5px;
}

.nomeStatus, .nomeCheck, .statusPai {
    display: inline;
    float: left;
    padding: 0px;
    margin: 5px;
    border: 1px solid #cccccc;
    width: 100%;

}

.status, .checklist {
    padding: 0px;
    display: block;
    width: 100%;
}

.clientesStatus, .clientesChecks {
    padding: 0px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 4px;
    padding: 2px 5px;
    margin: 2px;
    height: auto;
    width: 100%;
}

.clienteStatus, .clienteChecks {
    display: block;
    float: left;
    overflow: hidden;
    margin-bottom: 4px;
    padding: 3px 5px;
    height: 32px;
    width: 145px;
    cursor: move;
}

.info-nomeStatus, .info-nomeCheck {
    display: block;
    /*background-color: #99ff99;*/
    padding: 4px;
}

.info-cliente {
    display: block;
    background-color: #dddddd;
    padding: 4px;    
}

.nome-cliente {
    font-size: 12px;  
    line-height: 11px;
    width: 300px;
}

.nome-status, .nome-check {
    color: #fff;
}